

.after-video-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 50px);

  .box {
    overflow-y: auto;
    margin-top: 20px;
    max-height: 90%;
  }
}

.box {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 15px;
  max-width: 95%;
  width: 700px;
  line-height: 1.2;

  border: 3px solid $boxBorderColor;
  border-radius: 5px;

  background-color: $boxBackgroundColor;

  defaultTextStyle();
  fontSizeResponsive();

  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons {
    margin: $defaultParagraphPaddingMobile 0;
    text-align: center;

    > :first-child {
      margin-bottom: $defaultParagraphPaddingMobile;
    }
  }

  p {
    margin: $defaultParagraphPaddingMobile 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media $tablet {
    padding: 30px;
    max-width: 100%;

    p {
      margin: $defaultParagraphPadding 0;
    }

    .buttons {
      margin: $defaultParagraphPadding 0;

      > :first-child {
        margin-bottom: $defaultParagraphPadding;
      }
    }
  }
}