@font-face {
  font-family: Avenir;
  src: url('./AvenirLTStd-Medium.ttf');
}

@font-face {
  font-family: Presicav;
  src: url('./Presicav.ttf');
}

body {
  display: initial;
  background-color: black;
  color: white;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
}

logoTextStyle() {
  text-align: center;
  letter-spacing: .1em;
  font-size: 2.5rem;
  font-family: Presicav;
}

defaultTextStyle() {
  letter-spacing: .3em;
  text-transform: uppercase;
  font-family: Avenir, Arial;
}

$delosDarkBlue = #153140;

@import './scrollbar';
@import './videoPage';
@import './pageContainer';
@import './openingForm';