@font-face {
  font-family: Avenir;
  src: url('./AvenirLTStd-Medium.ttf');
}

@font-face {
  font-family: Avenir-Bold;
  src: url('./Avenir-Next-LT-Pro-Bold_5182.ttf');
}

@font-face {
  font-family: Presicav;
  src: url('./Presicav.ttf');
}

body {
  display: initial;
  color: white;

  &.default-background {
    background-color: black;
  }
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
}

logoTextStyle() {
  color: $white;
  text-align: center;
  letter-spacing: .1em;
  font-family: Presicav;
}

fontSizeResponsive() {
  font-size: 16px;

  @media $tablet {
    font-size: 18px;
  }
}

$defaultFontFamily = Avenir, Arial;
$defaultParagraphPadding = 20px;
$defaultParagraphPaddingMobile = 15px;

defaultTextStyle() {
  letter-spacing: .1em;
  font-size: 16px;
  font-family: $defaultFontFamily;
}

openingTextStyle() {
  defaultTextStyle();
  letter-spacing: .3em;
}

textOutline() {
  text-shadow:
    -1px -1px 0 $delosDarkBlue,
    1px -1px 0 $delosDarkBlue,
    -1px 1px 0 $delosDarkBlue,
    1px 1px 0 $delosDarkBlue,
}

// media query
$tablet = 'only screen and (min-device-width : 768px)';

$boxBackgroundColor = #05141e;
$delosDarkBlue = #153140;
$boxBorderColor = $delosDarkBlue;
$delosLightBlue = lighten($delosDarkBlue, 60%);
$white = white;

.link {
  color: $delosLightBlue;
  font-weight: bold;
  transition: color 200ms;

  &:hover {
    color: $white;
  }
}

p {
  margin: .5em 0;

  a {
    color: $white;
  }
}

.title {
  logoTextStyle();
}

@import './scrollbar';
@import './videoPage';
@import './pageContainer';
@import './openingForm';
@import './loadingLayer';
@import './afterVideoCard';
@import './downloadPage';
@import './navbar';
@import './sweetalert';
@import './playVideoButton';
@import './embeddedVideo';
@import './loader';
@import './checkForDonation';