@font-face {
  font-family: Avenir;
  src: url('./AvenirLTStd-Medium.ttf');
}

@font-face {
  font-family: Presicav;
  src: url('./Presicav.ttf');
}

body {
  display: initial;
  background-color: black;
  color: white;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
}

logoTextStyle() {
  text-align: center;
  letter-spacing: .1em;
  font-family: Presicav;
}

defaultTextStyle() {
  letter-spacing: .3em;
  font-family: Avenir, Arial;
}

textOutline() {
  text-shadow:
    -1px -1px 0 $delosDarkBlue,
    1px -1px 0 $delosDarkBlue,
    -1px 1px 0 $delosDarkBlue,
    1px 1px 0 $delosDarkBlue;
}

// media query
$tablet = 'only screen and (min-device-width : 768px)';

$delosDarkBlue = #153140;
$delosLightBlue = lighten($delosDarkBlue, 25%);

@import './scrollbar';
@import './videoPage';
@import './pageContainer';
@import './openingForm';