$inputBorderColor = $delosDarkBlue;
$inputBorderColorHover = $delosLightBlue;
$inputBorderColorFocus = lighten($delosDarkBlue, 40%);
$formBackgroundColor = lighten(black, 2%);

$buttonColor = alpha($delosDarkBlue, 80%);
$buttonHoverColor = alpha($delosLightBlue, 80%);

inputStyle() {

  $inputBorder = 3px solid $inputBorderColor;

  outline: 0;
  border: $inputBorder;
  border-radius: 3px;
  background-color: $formBackgroundColor;
  text-align: center;
  transition: border-color .3s ease-out;

  padding-top: 6px;

  defaultTextStyle();

  &:hover{
    border-color: $inputBorderColorHover;
  }

  &:active, &:focus {
    border-color: $inputBorderColorFocus;
  }

  @media $tablet {
    padding: 6px 4px 4px;
  }
}

#opening-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-inputs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    textarea {
      inputStyle();

      overflow-x: hidden;
      margin-top: 2px;
      width: 95vw;
      color: white;
      word-break: break-word;
      resize: none;
    }

    #input-text28 {
      logoTextStyle();
      font-size: 1.5em;
    }
  }

  @media $tablet {
    width: 90vw;

    .form-inputs {
      textarea {
        flex-basis: 30%;
        margin: 10px 10px 0;
        min-width: 300px;
        max-width: 500px;
      }

      #input-text28 {
        logoTextStyle();
        font-size: 2em;
      }
    }
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;


    @media $tablet {
      display: block;
    }

    button {
      &:not(:first-child) {
        margin-top: 15px;

        @media $tablet {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }
  }
}

.info-box {
  defaultTextStyle();
  fontSizeResponsive();

  padding: 7px 7px 4px;
  border-radius: 5px;
  background-color: alpha($boxBackgroundColor, 80%);
  text-align: center;
}

.button {
  logoTextStyle();
  fontSizeResponsive();

  padding: 5px 15px;
  border: 1px solid $delosLightBlue;
  background-color: $buttonColor;
  color: white;
  cursor: pointer;
  transition: border-color, background-color .3s;


  &:hover {
    border-color: $inputBorderColorFocus;
    background-color: $buttonHoverColor;
  }

  &.big {
    font-size: 2em;

    @media $tablet {
      font-size: 3em;
    }
  }

  &.medium {
    font-size: 1.5em;

    @media $tablet {
      font-size: 2em;
    }
  }
}