::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lighten($delosDarkBlue, 10%);
    &:hover {
        background-color: lighten($delosDarkBlue, 20%);
    }
}